services:
  - type: web
    name: fitlifepro-backend
    env: docker
    rootDir: server-java
    plan: free
    envVars:
      - key: MYSQL_URL
        sync: false
      - key: MYSQL_USER
        sync: false
      - key: MYSQL_PASSWORD
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: GEMINI_API_KEY
        sync: false
      - key: PORT
        value: 5000
